---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
---

<Layout title="Index">
  <section>
    <h1>Lorem ipsum dolor sit amet</h1>
    <h2>Asperiores dolor dolores doloribus facere labore</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolor dolores doloribus facere labore, nemo
      numquam perspiciatis praesentium <Link href="./about/">tempore</Link> voluptas? Adipisci consectetur labore libero
      quidem quis. Architecto eum fuga molestias. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
      anim id est laborum.
    </p>

    <Link role="button" href="./about/">About</Link>
  </section>
</Layout>

<style>
  section {
    width: 100%;
    height: 100%;
  }
</style>
