:root {
  --gc-buckthorn-50: #fff8eb;
  --gc-buckthorn-100: #fdeac8;
  --gc-buckthorn-200: #fad48d;
  --gc-buckthorn-300: #f8b951;
  --gc-buckthorn-400: #f69e27;
  --gc-buckthorn-500: #f07c10;
  --gc-buckthorn-600: #d45a0b;
  --gc-buckthorn-700: #b03c0d;
  --gc-buckthorn-800: #8f2f11;
  --gc-buckthorn-900: #762711;
  --gc-buckthorn-950: #431105;
  --gc-shaft-50: #f7f7f7;
  --gc-shaft-100: #e3e3e3;
  --gc-shaft-200: #c8c8c8;
  --gc-shaft-300: #a4a4a4;
  --gc-shaft-400: #818181;
  --gc-shaft-500: #666666;
  --gc-shaft-600: #515151;
  --gc-shaft-700: #434343;
  --gc-shaft-800: #383838;
  --gc-shaft-900: #313131;
  --gc-shaft-950: #212121;
  --gc-shaft-1000: #121212;
}
