@import 'variables';
@import 'reset';

html {
  background-color: var(--gc-base-color);
}

body {
  background-image: radial-gradient(farthest-corner at right, var(--gc-gray-color) 0%, var(--gc-gray-dark-color) 100%);
  color: var(--gc-accent-color);
  font-family: var(--gc-base-font, sans-serif);
  user-select: none;
}

#__next {
  height: 100vh;
}

.not-found {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-weight: bold;
  }

  a {
    font-weight: lighter;
    span {
      font-weight: normal;
    }
  }
}
