@import 'reset.css';
@import 'variables.css';

html {
  background-color: var(--background);
  background-image: var(--background-gradient);
}

body {
  font-family: var(--font-main), sans-serif;
  font-weight: var(--font-weight-3);
  line-height: var(--font-lineheight-3);
  max-width: var(--max-with);
  color: var(--text);
  margin: auto;
}

a {
  color: var(--accent);
  transition: 1s linear color;

  &:hover,
  &.active {
    color: var(--accent-light);
  }
}

p,
pre {
  margin-top: var(--size-2);
  margin-bottom: var(--size-3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-6);
  margin-block: var(--size-1);
  line-height: var(--font-lineheight-1);
  color: var(--sand-2);
}

h1 {
  font-size: var(--font-size-5);
  color: var(--sand-1);
}

h2 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-3);
}

h4 {
  font-size: var(--font-size-2);
}

h5,
h6 {
  font-size: var(--font-size-1);
}

.text-gradient {
  color: transparent;
  background: var(--accent-gradient);
  background-clip: text;
}

.button,
button,
a[role='button'] {
  display: inline-block;
  color: var(--text-light);
  background: var(--accent-dark);
  background-image: var(--accent-gradient);
  padding: var(--size-2) var(--size-fluid-4);
  border-radius: var(--radius-1);
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-1);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
