@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/600.css';

:root {
  --font-main: 'Poppins', sans-serif;
  --max-with: 1920px;

  --background: var(--stone-12);
  --background-alt: var(--stone-11);
  --background-gradient: conic-gradient(
    from 180deg at 50% 120%,
    var(--background),
    50%,
    var(--background-alt),
    var(--background)
  );

  --text: var(--sand-3);
  --text-alt: var(--sand-7);
  --text-light: var(--sand-1);
  --text-dark: var(--sand-10);

  --accent: var(--choco-5);
  --accent-light: var(--choco-3);
  --accent-dark: var(--choco-7);
  --accent-gradient: linear-gradient(45deg, var(--choco-6), var(--choco-7) 30%, var(--choco-5) 100%);
}
