---
import { ViewTransitions } from 'astro:transitions';
import Link from '../components/Link.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

const fullYear = new Date().getFullYear();
const baseUrl = import.meta.env.BASE_URL;

const easeInOutQuint = 'cubic-bezier(0.860, 0.000, 0.070, 1.000)';

const forwards = {
  old: { name: 'exit', duration: '0.6s', easing: easeInOutQuint },
  new: { name: 'enter', duration: '0.6s', easing: easeInOutQuint }
};

const backwards = {
  old: { name: 'enter', duration: '0.6s', easing: easeInOutQuint, direction: 'reverse' },
  new: { name: 'exit', duration: '0.6s', easing: easeInOutQuint, direction: 'reverse' }
};

const mainTransition = { forwards, backwards };
---

<!doctype html>
<html lang="en">
  <head>
    <base href={baseUrl} />
    <meta charset="UTF-8" />
    <meta name="description" content={description || title} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body transition:animate="none">
    <div class="wrapper">
      <header>
        <nav>
          <Link href="./" data-astro-history="auto">Home</Link>
          <Link href="./about/" data-astro-history="auto">About</Link>
        </nav>
      </header>
      <main transition:animate={mainTransition}>
        <slot />
      </main>
      <footer>
        <small>Copyright © <span>{fullYear}</span> Gianluca Cirone</small>
      </footer>
    </div>
  </body>
</html>

<script is:inline>
  document.addEventListener('astro:page-load', (event) => {
    console.log('astro:page-load', event.target.name);
  });

  document.addEventListener('astro:before-preparation', (event) => {
    console.log('astro:before-preparation', event.target.name);
  });

  document.addEventListener('astro:after-swap', (event) => {
    console.log('astro:after-swap', event.target.name);
  });
</script>

<style is:global>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: scale(1) translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateX(0);
    }
  }

  @keyframes exit {
    0% {
      opacity: 1;
      transform: scale(1) translateX(0);
    }
    100% {
      opacity: 0;
      transform: scale(1) translateX(100%);
    }
  }

  .wrapper {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100svh;

    > header {
      display: grid;
      grid-template-columns: auto 1fr auto;
      padding: var(--size-6);
      background-color: var(--background-alt);
      box-shadow: var(--shadow-1);
      border-radius: var(--radius-2);

      > nav {
        display: flex;
        gap: var(--size-4);
      }
    }

    > main {
      padding: var(--size-6);
    }

    > footer {
      display: grid;
      place-items: center;
      padding: var(--size-2);
      color: var(--text-alt);
    }
  }
</style>
